*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    /* background-image: url("C:/Users/tusharchoudhari200/OneDrive/Documents/Desktop/potfolio/w1.jpg");*/
    background: #000000;
    color: #fff;
} 
#header{
    width: 100%;
    height: 100vh;
    background-image: url("C:/Users/tusharchoudhari200/OneDrive/Documents/Desktop/potfolio/w1.jpg");
    background-size: cover;
    background-position: center;
}
.img-23{
    width: 90px;
    border-radius: 50%;
}
.contaner{
    padding:10px 10%;
}
nav{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items:center;

}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: " ";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -6px;
    transition:  0.5s;
}
nav ul li a:hover:after{
    width: 100%;
}
.text-h{
    margin-top:20%;
    font-size: 18px;
}

/* ............About............ */
#about{
    padding:18px 0;
    color: #ababab;
}
.col-1 img{
    width: 600px;
    margin-top: 5%;
    border-radius: 10px;
    padding-left: 30px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-1{
    flex-basis: 30%;
}
.col-2{
    flex-basis:50%;
}
.hed{
    font-size: 45px;
    font-weight: 600px;
    color: #fff;
    margin:5%;
}
.sub-title{
    /* margin-top:30 0 40px; */
    font-size: 20px;
    display: flex;
}
.tab-sub{
    margin: 70px ;
}
.pus{
    padding-left:70px;
    margin-top: 5px;
}
/* ..........project..... */

#project{
    padding:18px 0;
    color: #ababab;
}
.col-left img{
    width: 500px;
    margin-top: 5%;
    border-radius: 10px;
    padding-left: 30px;
}
.row-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-left{
    flex-basis: 30%;
}
.col-right{
    flex-basis:50%;
}
.hed-1{
    font-size: 45px;
    font-weight: 600px;
    color: #fff;
    margin-top: 5%;
}
.sub-title-1{
    font-size: 20px;
    display: flex;
    
   
}
.link-col{
    background: #262626;
     margin-top: 5%;
     margin: 5px;
   
}
.tab-sub-1{
    margin: 70px ;
    font-size: 20px;
    color: #fff;

}
.link{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid ;
    padding: 4px 4px;
    background-color: black;
    border-radius: 4px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.link:hover{
    transition: 0.5s;
    background:red
}

/* .....contect........ */
.row-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hed-2{
    font-size: 45px;
    font-weight: 600px;
    color: #fff;
    margin-top: 5%;
    padding-left: 30px;
}
.p-1{
    margin-top:10%;
    padding-left: 40px;
   
    
}
.p-teg{
    margin-top:3%;

}
.img12{
    width:20px;
    margin: 20px;
}

.teg{
    margin-top:3%;
    padding-left: 30px;
   
  
}
.col-right-1 form{
    margin-top:16%;
    
  
}
.input{
  
    width: 58%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin:15px 0;
    color: #fff;
    font-size:18px;
    border-radius:5px; 


}
#massage{
    width: 58%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin:15px 0;
    color: #fff;
    font-size:18px;
    border-radius:5px; 
}

.col-left-1{
    flex-basis: 30%;
}
.col-right-1{
    flex-basis:50%;
}
.btn{
    margin-left:26%;
    margin-top: 10px;
    border: 1px solid #ff004f;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid;
    padding: 5px 5px;
    background-color: black;
    border-radius: 4px;
    margin-left: 26%;
}
.btn:hover{
    transition: 0.5s;
    background:red
}
.footer{
    margin-top: 10%;
    background: #262626;
    height: 40px;
    text-align: center;
}
.footer-1{
    margin-top:10px;
}
